.error-block {
  margin: 10px auto;
  padding: 5px;

  color: $--primary-text-color;
  background-color: rgba(255, 0, 0, 0.5);
  font-weight: 900;
  text-align: center;
  align-items: center;
  border-radius: 10px;

  max-width: 500px;
}
