.popular-anime {
  padding: 20px 0 20px 0;

  min-width: 0;

  &__list {
    margin: 20px 0 0 0;
    padding: 0 50px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;

    & .slick-arrow {
      margin: -55px 15px 0 15px;

      position: absolute;
      top: 50%;

      width: 30px;
      height: 30px;

      z-index: 2;
      transition: all 0.2s ease;

      &::before {
        font-size: 30px;
        color: $--primary-color;
        transition: all 0.2s ease;
      }
    }

    & .slick-arrow.slick-prev {
      left: 0;
    }

    & .slick-arrow.slick-next {
      right: 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;

    position: relative;
    text-align: center;
    justify-content: center;

    min-width: 0;
  }

  &__preview {
    margin: 0 auto;

    width: 200px;
    height: 280px;

    .popular-anime__img {
      position: relative;

      width: 100%;
      height: auto;

      img {
        width: 100%;
        height: auto;
      }
    }

    .img-overlay {
      position: absolute;
      top: 0;
      left: 0;

      background-color: transparentize($--primary-color, 0.4);
      opacity: 0;

      width: 100%;
      height: 100%;

      z-index: 5;
      transition: 0.2s opacity linear;

      i {
        position: relative;
        top: 50%;

        color: $--primary-text-color;
        font-size: 50px;

        transform: translateY(-50%);
        z-index: 10;
      }
    }

    :hover {
      .img-overlay {
        opacity: 1;
        transition: 0.2s opacity linear;
      }
    }
  }

  &__name {
    margin: 10px 0;

    color: $--primary-text-color;
    font-size: 18px;
  }

  &__genre {
    color: $--third-text-color;
    font-size: 16px;
  }
}