@import './variables.scss';
@import './reset.scss';
@import './header.scss';
@import './footer.scss';
@import './font.scss';
@import './error-msg';

$--default-font: Quicksand;

$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1113px;
$w1: 991px;
$w2: 767px;
$w3: 480px;

header,
main,
footer {
  transition: all 0.3s linear;
}

body._pc button#show-background {
  padding: 20px;

  position: fixed;
  bottom: 80px;
  right: 25px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 24px;
  color: $--primary-text-color;
  background-color: $--third-text-color;

  transition: all 0.3s linear;

  border-radius: 50%;
}

body._touch button#show-background {
  display: none;
}

body {
  font-family: $--default-font;

  background: url(../public/assets/images/background/bg.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;

  &._hide {
    header,
    main,
    footer {
      transition: all 0.3s linear;
      opacity: 0;
    }

    button#show-background {
      background-color: $--primary-color;
    }
  }
}

.page {
  margin: 35px 35px;
  background-color: $--bg-secondary-color;
}

.section-title {
  font-size: 24px;
  font-weight: 600;
  color: $--primary-text-color;

  text-align: center;
}

.popular-anime {
  padding: 20px 0 20px 0;

  min-width: 0;

  &__list {
    margin: 20px 0 0 0;
    padding: 0 50px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    & .slick-arrow {
      margin: -55px 15px 0 15px;

      position: absolute;
      top: 50%;

      width: 30px;
      height: 50px;

      z-index: 2;
      transition: all 0.2s ease;
      &:hover {
        width: 25px;
        height: 45px;

        transition: all 0.2s ease;
      }
    }

    & .slick-arrow.slick-prev {
      left: 0;
      font-size: 0;

      // background: url('../image/icons/icon-left.svg') 0 0 / 100% no-repeat;
    }

    & .slick-arrow.slick-next {
      right: 0;
      font-size: 0;

      // background: url('../image/icons/icon-right.svg') 0 0 / 100% no-repeat;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    justify-content: center;

    min-width: 0;
  }

  &__preview {
    margin: 0 auto;

    width: 200px;
    height: 280px;

    .popular-anime__img {
      position: relative;

      width: 100%;
      height: auto;

      img {
        width: 100%;
        height: auto;
      }
    }

    .img-overlay {
      position: absolute;
      top: 0;
      left: 0;

      background-color: transparentize($--primary-color, 0.4);
      opacity: 0;

      width: 100%;
      height: 100%;

      z-index: 5;
      transition: 0.2s opacity linear;

      i {
        position: relative;
        top: 50%;

        color: $--primary-text-color;
        font-size: 50px;

        transform: translateY(-50%);
        z-index: 10;
      }
    }

    :hover {
      .img-overlay {
        opacity: 1;
        transition: 0.2s opacity linear;
      }
    }
  }

  &__name {
    margin: 10px 0;

    color: $--primary-text-color;
    font-size: 18px;
  }

  &__genre {
    color: $--third-text-color;
    font-size: 16px;
  }
}
