@import './variables.scss';
@import './reset.scss';

@import './header.scss';
@import './footer.scss';
@import './popular-anime.scss';
@import './anonce.scss';

@import './font.scss';
@import './error-msg';

$--default-font: Quicksand;

$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1113px;
$w1: 991px;
$w2: 767px;
$w3: 480px;

header,
main,
footer {
  transition: all 0.3s linear;
}

body._pc button#show-background {
  padding: 20px;

  position: fixed;
  bottom: 80px;
  right: 25px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 24px;
  color: $--primary-text-color;
  background-color: $--third-text-color;

  transition: all 0.3s linear;

  border-radius: 50%;
}

body._touch button#show-background {
  display: none;
}

body {
  font-family: $--default-font;

  background: url(../public/assets/images/background/bg.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;

  &._hide {
    header,
    main,
    footer {
      transition: all 0.3s linear;
      opacity: 0;
    }

    button#show-background {
      background-color: $--primary-color;
    }
  }
}

.page {
  margin: 35px 35px;
  background-color: $--bg-secondary-color;
}

.section-title {
  font-size: 24px;
  font-weight: 600;
  color: $--primary-text-color;

  text-align: center;
}


