$--bg-color: #222;
$--bg-secondary-color: #111;

$--primary-color: rgba(0, 98, 184);
$--secondary-color: rgba(0, 136, 255);

$--primary-text-color: #fff;
$--secondary-text-color: #999;
$--third-text-color: #888;
